main {
    flex: 1 0 auto;
}

.mainpage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainpage-container div {
    border: 1px solid red;
}

.new-collection {
    width: 100%;
    height: 300px;
    margin: 4px 12px;
    border-radius: 10px;
    overflow: hidden;
}

.shop {
    width: 48%;
    height: 230px;
    margin: 4px 12px;
    border-radius: 10px;
    overflow: hidden;
}

.atelier {
    width: 48%;
    height: 230px;
    margin: 4px 12px;
    border-radius: 10px;
    overflow: hidden;
}

li {
    list-style: none;
}

.new-collection__image,
.shop__image,
.atelier__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}