.mainpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainpage div {
    border: 1px solid red;
}

.new-collection {
    width: 100vw;
    height: 300px;
}

.shop {
    width: 50%;
    height: 200px;
}

.atelier {
    width: 50%;
    height: 200px;
}

.outerwear, 
.dress,
.accessories {

    width: 33%;
    height: 200px;
}

li {
    list-style: none;
}