header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #d4a373;
    padding: 20px 24px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header__information {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.header__order-lc {
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: fit-content;
}


.order-icon {
    width: 30px;
    height: 30px;
    padding-right: 8px;
    vertical-align: top;
}

span {
    color: #000;
}