header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #d4a373;
    padding: 20px 24px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header__information {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.header__order-lc {
    display: flex;
    justify-content: space-between;
    width: 15%;
}